<div class = "container">
     <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-4 col-sm-6 ">
               <div class="card">
                    <div class = "card-image">
                         <img class="img-responsive" src="http://res.cloudinary.com/dihqhbf9i/image/upload/v1493086920/child-1099756_1920_cgwpu7.jpg" alt="Card image cap">
                    </div>
                    <br>
                    <div class = "card-content">
                         <h4 class = "text-center menu-title"> CONTACT US </h4>
                       <%= form_for @contact  do |f| %>
                            <div class="form-group">
                              <%= f.label :name %>
                              <%= f.text_field :name, required: true, class: 'form-control', placeholder: "Your name" %>
                            </div>

                            <div class="form-group">
                              <%= f.label :email %>
                              <%= f.email_field :email, required: true, class: 'form-control', placeholder: "jane.doe@example.com" %>
                            </div>

                            <div class="form-group">
                             <%= f.label :message %>
                             <%= f.text_area :message, class: 'form-control', placeholder: "Say Hello or Thank You" %>
                          </div>
                          <div class="form-group hidden">
                         <!-- <div class="hidden"> -->
                              <%= f.label :nickname %>
                              <%=f.text_field :nickname, hint: 'leave this field blank'%>
                         </div>
                          <div class = "form-action text-center">
                               <%= f.submit "Send!", class: 'btn btn-custom-square'%>
                         </div>
                       <% end %>
                  </div>
                </div>
          </div>
     </div>
</div>
