<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">Dream Doodle Design</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
             <li><%= link_to "Home", root_path  %></li>
             <li><%= link_to "About", root_path(:anchor => "about-us")  %></li>
             <li><%= link_to "Contact", root_path(:anchor => "contact-us") %></li>
             <% if user_signed_in? %>
                  <% if current_user.has_role? :admin %>
                       <li><%= link_to 'Dashboard', admindashboard_path %></li>
                  <% elsif current_user.has_role? :ngo %>
                       <li><%= link_to 'Manage Doodles', ngodashboard_path %></li>
                  <% end %>
             <% end %>
           </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
              <li class = "user-name">
                <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe,
                                                              edit_user_registration_path, title: 'Edit Profile' %>
              </li>
              <!-- <li>&nbsp;</li> -->
              <li class = "pull-right"><%= link_to('Logout', destroy_user_session_path,
                                    class: 'btn btn-sm btn-danger', title: 'Logout', :method => :delete) %></li>
        <% else %>
              <li class="pull-right ">
                <%= link_to('Sign In', new_user_session_path, class: 'btn btn-sm btn-default', title: 'Sign In') %>
              </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
